---
import { WHO_I_AM } from '../constants';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

---

<style>
	section.section-invisible {
		display: none;
	}
</style>

<BaseLayout 
	title={`Oops! | ${WHO_I_AM}`}
	description={`About ${WHO_I_AM}`}
>
	<div class:list={["stack", "gap-20"]}>
		<main class:list={["wrapper", "about"]}>
			<div class="about-welcome-message">
				<h5 class="about-welcome-message-heading">
					Oops! Incorrect URL or site not up yet.
				</h5>
				<div class="hard-working-div">
					<img
						height="120"
						width="120"
						src="https://cdn.lihkg.com/stickers/tiger-hd/no.png"
						alt="Not Available Yet"
					/>
				</div>		
			</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-0);
	}

	.section-title {
		grid-column-start: 1;
		/* font-size: var(--text-xl); */
		color: var(--gray-0);
		font-size: 1.2rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	li.who-am-i-description:not(:last-child) {
		margin-bottom: 1rem;
	}

	li.who-am-i-description ul {
		margin-top: 1rem;
	}

	.hard-working-div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.stack-nav {
		padding-top: 100px;
	}

	.about-welcome-message {
		display: flex; 
		gap: 1rem;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;		
	}

	.about-welcome-message .about-welcome-message-heading {
		max-width: 50ch; 
		margin-inline: auto; 
		line-height: 1.5;
		color: --var(--gray-999);
		font-weight: 900;
		font-family: cookie, cursive;
		text-align: center;
		/* mix-blend-mode: difference; */
		filter: drop-shadow(.05em .05em red);
        font-size: 1.25rem;
	}

	div.content table.skills {
		border-collapse: collapse;
		width: 100%;
		/* background-color: #f6f3fb; */
		/* background-color: var(--accent-super-light); */
		background: var(--gradient-accent-light-orange);
	}
	div.content table td, table th {
		vertical-align: top;
		border: 1px solid var(--gray-50);
		text-align: left;
		padding: 8px;
	}
	div.content table th {
		/* background-color: #673ab7; */
		background-color: var(--accent-dark);
		color: var(--gray-999);
	}
	div.content table td {
		color: var(--gray-50) !important;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
