---
import { WHO_I_AM } from '../constants';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
	title={`About | ${WHO_I_AM}`}
	description={`About ${WHO_I_AM}`}
	stackNavPaddingTop="100px"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<div style="display: grid; grid-template-columns: 1fr auto; column-gap: 1rem; align-items: center; text-align: center;">
				<h5 style={`
max-width: 37ch; 
margin-inline: auto; 
mix-blend-mode: difference; 
line-height: 1.5;
color: var(--gray-400);
font-weight: 900;
font-family: cookie, cursive;
text-align: center;
mix-blend-mode: difference;
filter: drop-shadow(.05em .05em orange);
`}>
					Thanks for stopping by. Read below to learn more about myself and my background.
				</h5>
				<div class="thanks-div">
					<img
						height="150"
						width="150"
						src="https://cdn.lihkg.com/stickers/cow-hd/sorry.png"
						alt={`${WHO_I_AM} expressing sincere gratitude to visitors`}
					/>
				</div>		
			</div>

			<section>
				<h2 class="section-title">I am ...</h2>
				<div class="content">
					<ul>
						<li class='who-am-i-description'>
							A Software Engineer with 3 years&#39; experience in enterprise-scaled web applications.
						</li>
						<li class='who-am-i-description'>
							A HKUST Degree Awardee in Bachelor of Computer Science with Second Class Honors. (<a href="./assets/HKUST-Award-Certification-Letter.pdf">Certification Letter</a>).
						</li>
						<li class='who-am-i-description'>
							An algorithm addict, in which I,
							<ul>
								<li class='who-am-i-description'>
									completed 656 questions in <a href="https://leetcode.com/jimmy-leung/">my LeetCode account</a>,
									BEFORE the release of chatgpt in 2023.
								</li>
								<li class='who-am-i-description'>
									completed 665 kata in <a href="https://www.codewars.com/users/hkleungai">my CodeWars account</a>, 
									BEFORE the release of chatgpt in 2023.
								</li>
							</ul>
						</li>						
						<li class='who-am-i-description'>
							An active contributor in open community project, in which I help
							<ul>
								<li class='who-am-i-description'>
									Introduce type fix in json-web-token (with <a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61825">Approved PR</a>)
								</li>
								<li class='who-am-i-description'>
									Raise a critical CSS build issue in mozilla's pdfjs-dist (with <a href="https://github.com/mozilla/pdf.js/issues/15260">issue link</a>)
								</li>
								<li class='who-am-i-description'>
									Introduce hacky fix to VSCode Markdown PDF extension (in <a href="https://github.com/yzane/vscode-markdown-pdf/issues/189#issuecomment-718054350">here</a>)
								</li>
								<li class='who-am-i-description'>
									Rework on several more npm packages, 
									e.g. 
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61836">jsoneditor</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56587">react-pdf</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51618">three-dat.gui</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57788">json-merge-patch</a>, 
									etc
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	li.who-am-i-description:not(:last-child) {
		margin-bottom: 1rem;
	}

	li.who-am-i-description ul {
		margin-top: 1rem;
	}

	.thanks-div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.stack-nav {
		padding-top: 100px;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
